
@{
    ViewData["Title"] = "Acceso denegado";
}

<div class="alert alert-primary mt-4">
    <h1 class="alert-heading mb-4">Acceso Denegado</h1>
    <div class="form-group row">
        <div class="col-3">
            <a href="@(ViewBag.PreviousUrl)" style="vertical-align: sub;">Volver</a>
        </div>
    </div>
</div>


