@model Cl.Gob.Energia.Ecocarga.Data.Models.DataMarcaauto

@{
    ViewData["Title"] = "Editar marca de auto";
}

<div class="alert alert-warning mt-4">
    <h1>Editar marca de auto</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Imagen" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label-requerido"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Imagen actual</label><br />
                <img class="img-responsive" src="@Url.Content("~/Archivos/" + @Model.Imagen)" alt="">
            </div>
            <div class="form-group">
                <label asp-for="Archivo" class="control-label"></label>
                <input asp-for="Archivo" type="file" />
                <span asp-validation-for="Archivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-outline-warning">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
