@model Cl.Gob.Energia.Ecocarga.Data.Models.DataTipoconector

@{
    ViewData["Title"] = "Editar tipo de conector";
}

<div class="alert alert-warning mt-4">
    <h1>Editar tipo de conector</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label-requerido"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <input asp-for="IdPublico" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-outline-warning">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
