@model Cl.Gob.Energia.Ecocarga.Data.Models.DataObservacion

@{
    ViewData["Title"] = "Editar observación";
}

    <h1>Editar observación</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ElectrolineraId" />
            <div class="form-group">
                <label asp-for="Mensaje" class="control-label-requerido"></label>
                <input asp-for="Mensaje" class="form-control" />
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectrolineraId" class="control-label"></label>
                <select asp-for="ElectrolineraId" class="form-control" asp-items="ViewBag.ElectrolineraId" disabled></select>
                <span asp-validation-for="ElectrolineraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-electrolineraId="@Model.ElectrolineraId">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
