@model ErrorViewModel

<div class="container mt-4">
    <h2>Error</h2>
    <p>Ocurrió un error: @Model.ErrorMessage</p>
    <a href="javascript:history.back()" class="btn btn-primary">Volver</a>
</div>
